#map {
    height: 80%;
    width: 90%;
    display: flex;
    overflow: hidden;
    position: relative;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.container{
    width:100%;
    margin:auto;
    overflow:hidden;
  }

.main_body{
    position: relative;
    display: flex;
    z-index: 1;
    width:100%;
    height: 100%;
    
}

#chart-container{
    width: 800px;
}

#main-labels{
    background-color: olive;
}

#nav-btn{
    padding: 10px;
    margin: 20px;
    position: relative;
}